---
import Icon from 'astro-icon';
---

<nav class="text-blue-600 px-3 py-6 lg:(px-18 py-6)">
  <div data-content class="flex justify-between items-center">
    <div data-element="rss-and-search" class="flex gap-12">
      <a href="/rss.xml" aria-label="RSS Feed">
        <Icon name="mdi:rss" class="w-12" />
      </a>
    </div>
  </div>
</nav>
