---
import type { InferGetStaticPropsType } from 'astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

export const getStaticPaths = async () => {
  const posts = await getCollection('blog');

  return posts.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: post,
  }));
};

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { data, render } = Astro.props;

const { Content } = await render();
---

<Layout title={data.title}>
  <div class="grid place-items-center h-screen gap-6">
    <a href="/">Go Home</a>
    <Image src={data.heroImage} alt="" />
    <Content {...data} />
  </div>
</Layout>
